/** Front Page **************************************************/

/** Front Page Main (nodequeue) **/
  .view-front-page-main div.node-inner a:active, 
  .view-front-page-main div.node-inner a:visited, 
  .view-front-page-main div.node-inner a, 
  .view-front-page-main div.node-inner a:hover, 
  .view-front-page-main div.node-inner a:link
  {
    color: #880000;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: default;
  }

  .view-front-page-main div.node-inner .content a:active, 
  .view-front-page-main div.node-inner .content a:visited, 
  .view-front-page-main div.node-inner .content a
  {
    color: #336699;
    font-size: inherit;
    text-transform: none;
    text-decoration: none;
    cursor: default;
  }

  .view-front-page-main div.node-inner .content a:hover, 
  .view-front-page-main div.node-inner .content a:active
  {
    color: #336699;
    font-size: inherit;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
  }

/** Front Page Carousel **/

  .view-id-front_page_carousel 
  { 
   /**   
    width: 976px;
    height: 388px;
    background-image: url(images/carousel1_background.jpg);
   **/
  }

  .rotor-content .views-field-field-teaser-value 
  {
    margin-bottom: 0;
    padding-bottom: 0;
  }
 
  .rotor-items
  {
    background: #012B5B;
    overflow: visible; /* @TODO Figure out why Rotor does this, and if this is the right solution.
                          This defaults to hidden, but then the 
                          body sometimes has a misterious white block 
                          appearing in the middle. 
                        */
  }

  .rotor-view-id-front_page_carousel-view-display-id-block_1
  {
    width: 996px;
    height: 388px;
  }

  div.carousel1 
  {
    width: 996px;
    height: 388px;
    background-image: url(images/carousel1_background_3.jpg);
  }

  .carousel1-pic
  {
    float: right;
    padding: 20px;
  }

  div.carousel1-title a
  {
    float: left; 
    width: 255px;
    color: white;
    margin-left: 40px;
    padding-top: 30px;
    font-size: 240%;
    text-align: center;
    position: relative;
    top: 30px;
    line-height: 40px;
  }

  .carousel1-video a,
  .carousel2-video a:active,
  .carousel1-video a:link,
  .carousel1-video a:visited
  { 
    float: left;
    width: 255px;
    color: #FFF;
    padding-left: 35px;
    position: relative;
    top: 60px;
    font-size: 125%;
    text-align: center;
  }

  .carousel1-teaser a,
  .carousel1-teaser a:active,
  .carousel1-teaser a:link,
  .carousel1-teaser a:visited
  {
    color: #FFF;
  }

  .carousel1-teaser
  {
    float: left;
    width: 255px;
    color: #FFF;
    padding-left: 45px;
    position: relative;
    top: 80px;
    font-size: 115%;
  }

  .view-front-page-carousel .rotor-tabs
  {
    width: 996px;
    height: 30px;
    background-image: url(images/rotor1_background.jpg);
  }

  .rotor-tab 
  {
    color: #2E689A;
    float: left;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 115%;
  }

  .rotor-tabs .selected 
  {
    color: #FFF6DF;
  }

