/* Generated February 27, 2011, 2:46 pm -- 1298836019 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** Event Date, event_date ***/ 
  .event-date
  {
    color: #336699;    font-size: 145%;    font-weight: normal;    font-family: Georgia,"Times New Roman",Times,serif;    margin-bottom: 10px;
  }

