#slideshow-panoramic-3
{
  position: relative;
  background: url("images/slideshow-background.jpg") no-repeat scroll 0 0 #dae1e9;
  text-align: center;
  width: 996px;
  height: 400px;
  overflow: hidden;
}

#slideshow-panoramic-3-pic
{
  border-top: 12px;
  border-left: 12px;
  border-right: 12px;
  border-bottom: 6px;
  border-style: solid;
  border-color: #fff;
  margin-left: 105px;
  width: 784px;
}

#slideshow-panoramic-3-description
{
  background-color: #1D1852;
  border-top: 6px;
  border-left: 12px;
  border-right: 12px;
  border-bottom: 12px;
  border-style: solid; 
  border-color: #fff;
  margin-left: 105px;
  width: 784px;
}

#slideshow-panoramic-3-title
{
  font-family: "Arial";
  font-weight: lighter;
  letter-spacing: 1.5px;
  font-size: 24px;
  padding: 10px;
}

#slideshow-panoramic-3-title a
{
  color: white;
}

#slideshow-panoramic-3-body
{
  font-size: 12px;
  color: white;
}
