/* Generated February 27, 2011, 2:54 pm -- 1298836490 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** Site Name Link, site_name_link ***/ 
  .hdrttl a
  {
    color: #AFAFAF;    font-size: 150%;    font-variant: small-caps;    font-family: Georgia,"Times New Roman",Times,serif;    letter-spacing: 1px;
  }

