/* Generated March 6, 2011, 9:20 pm -- 1299464424 -- http://localhost/civic-1-0-alpha3-A */ 
 
  /*** Slide Show Tab, rotor_tab ***/ 
  .rotor-tab
  {
    color: #2E689A;    float: left;    padding-left: 10px;    padding-bottom: 2px;    margin-top: 5px;    margin-left: 20px;    font-size: 115%;
  }

