/* Generated February 16, 2011, 12:44 pm -- 1297878253 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** Slideshow Teaser , twocolumnslideshow_teaser ***/ 
  .carousel1-teaser
  {
    background: none repeat scroll 0 0 #144273;    color: #FFF;    float: left;    font-size: 115%;    margin-left: 0px;    padding-left: 5px;    position: static;    width: 227px;
  }

