/* Generated February 27, 2011, 2:58 pm -- 1298836694 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** footer_nav_header ***/ 
  .region-footer_nav h3.modttlred
  {
    color: #666666;     font-family: Arial,Helvetica,sans-serif;    font-size: 11px;    font-weight: bold;    text-transform: capitalize;
  }

