/* $Id$ */

/* Related Posts module styles */

.related-post
  {
    margin-bottom: 20px;
  }

.related-post-type
  {
    text-transform: uppercase;
    color: #666666;
    font-size: 9px;
  }

.related-post-title
  {
    margin-bottom: 10px;
  }

.related-post-title a, .related-post-title a:link, .related-post-title a:visited
  {
    color: #336699;
    text-decoration: none;
    font-family: Georgia,"Times New Roman",Times,serif; 
    font-size: 15px; 
    font-weight: normal;
  }

.related-post-title a:hover 
  {
    text-decoration: underline;
  }
