/* Generated February 14, 2011, 4:53 pm -- 1297720398 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** , twocolumnslideshow_title_link ***/ 
  div.carousel1-title a
  {
    float: left;    width: 200px;    color: white;    margin: 0px 0px 15px 10px;    padding-top: 30px;    font-size: 150%;    text-align: center;    position: static;    top: 30px;    line-height: 30px;
  }
