/* Generated February 27, 2011, 3:00 pm -- 1298836846 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** footer_nav_views_newsclips ***/ 
  .region-footer_nav #block-views-newsclips_nav-block_1 .block-inner .field-content a
  {
    color: #666666;    font-family: Arial,Helvetica,sans-serif;    font-weight: normal;    font-size: 115%;    line-height: 1.3em;
  }

