/* Generated February 16, 2011, 12:43 pm -- 1297878221 -- http://localhost/civic-1-0-alpha3 */ 
 
  /*** Front Page Main links (active / hover), front_page_main_content_links ***/ 
  .view-front-page-main div.node-inner .content a:hover,
  .view-front-page-main div.node-inner .content a:active
  
  {
    color: #336699;    font-size: inherit;    text-transform: none;    text-decoration: underline;    cursor: pointer;
  }

